NewsComponents/Resources/feedListSchema.xsd

<?xml version="1.0" ?>
<!-- Begin feed list schema -->
<xs:schema targetNamespace="http://www.25hoursaday.com/2004/RSSBandit/feeds/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" xmlns:f="http://www.25hoursaday.com/2004/RSSBandit/feeds/">
	<xs:element name="feeds">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="feed" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="title" type="xs:string" />
							<xs:element name="link" type="xs:anyURI" />
							<xs:element name="refresh-rate" type="xs:int" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
		 This describes how often the feed must be refreshed in milliseconds. 
		</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="last-retrieved" type="xs:dateTime" minOccurs="0" />
							<xs:element name="etag" type="xs:string" minOccurs="0" />
							<xs:element name="cacheurl" type="xs:anyURI" minOccurs="0" />
							<xs:element name="max-item-age" type="xs:duration" minOccurs="0" />
							<xs:element name="stories-recently-viewed" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="story" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="deleted-stories" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="story" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="if-modified-since" type="xs:dateTime" minOccurs="0" />
							<xs:element name="auth-user" type="xs:string" minOccurs="0" />
							<xs:element name="auth-password" type="xs:base64Binary" minOccurs="0" />
							<xs:element name="listview-layout" minOccurs="0" maxOccurs="1" type="xs:string" />
							<xs:element name="favicon" minOccurs="0" maxOccurs="1" type="xs:string" />
							<xs:element name="download-enclosures" minOccurs="0" maxOccurs="1" type="xs:boolean" />
							<xs:element name="enclosure-folder" minOccurs="0" maxOccurs="1" type="xs:string" />
							<xs:element name="stylesheet" minOccurs="0" maxOccurs="1" type="xs:string" />
							<xs:element name="mark-items-read-on-exit" minOccurs="0" maxOccurs="1" type="xs:boolean" />
							<xs:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
							<xs:element name="news-account" type="xs:string" maxOccurs="1" minOccurs="0" />
						</xs:sequence>
						<xs:attribute name="alert" type="xs:boolean" use="optional" />
						<xs:attribute name="category" type="xs:string" />
						<xs:anyAttribute namespace="##any" processContents="lax" />
					</xs:complexType>
				</xs:element>
				<xs:element name="categories" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="category" type="f:category" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="listview-layouts" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="listview-layout" type="f:listviewLayout" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="nntp-servers" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="server" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="default-identity" type="xs:string" maxOccurs="1" minOccurs="0" />
										<xs:element name="prevent-download" type="xs:boolean" maxOccurs="1" minOccurs="0" />
										<xs:element name="server-address" type="xs:string" maxOccurs="1" minOccurs="0" />
										<xs:element name="auth-user" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="auth-password" type="xs:base64Binary" maxOccurs="1" minOccurs="0" />
										<xs:element name="auth-use-spa" type="xs:boolean" minOccurs="0" maxOccurs="1" />
										<xs:element name="port-number" type="xs:int" default="119" maxOccurs="1" minOccurs="0" />
										<xs:element name="use-ssl" type="xs:boolean" maxOccurs="1" minOccurs="0" />
										<xs:element name="timeout" type="xs:int" maxOccurs="1" minOccurs="0" />
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="user-identities" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="identity" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="real-name" type="xs:string" maxOccurs="1" minOccurs="0" />
										<xs:element name="organization" type="xs:string" maxOccurs="1" minOccurs="0" />
										<xs:element name="mail-address" type="xs:string" maxOccurs="1" minOccurs="0" />
										<xs:element name="response-address" type="xs:string" maxOccurs="1" minOccurs="0" />
										<xs:element name="referrer-url" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="signature" type="xs:string" maxOccurs="1" minOccurs="0" />
									</xs:sequence>
									<xs:attribute name="name" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="refresh-rate" type="xs:int" use="optional" />
			<xs:attribute name="download-enclosures" type="xs:boolean" use="optional" />
			<xs:attribute name="enclosure-folder" type="xs:string" use="optional" />
			<xs:attribute name="listview-layout" type="xs:string" use="optional" />
			<xs:attribute name="max-item-age" type="xs:duration" use="optional" />
			<xs:attribute name="stylesheet" type="xs:string" use="optional" />
			<xs:attribute name="mark-items-read-on-exit" type="xs:boolean" use="optional" />
			<xs:anyAttribute namespace="##any" processContents="lax" />
		</xs:complexType>
		<xs:key name="categories-key">
			<xs:selector xpath="f:categories/f:category" />
			<xs:field xpath="." />
		</xs:key>
		<xs:keyref name="categories-keyref" refer="f:categories-key">
			<xs:selector xpath="f:feed" />
			<xs:field xpath="@category" />
		</xs:keyref>
	</xs:element>
	<xs:complexType name="category">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="download-enclosures" type="xs:boolean" />
				<xs:attribute name="enclosure-folder" type="xs:string" />
				<xs:attribute name="listview-layout" type="xs:string" />
				<xs:attribute name="stylesheet" type="xs:string" />
				<xs:attribute name="refresh-rate" type="xs:int" />
				<xs:attribute name="max-item-age" type="xs:duration" />
				<xs:attribute name="mark-items-read-on-exit" type="xs:boolean" />
				<xs:anyAttribute namespace="##any" processContents="lax" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
		<xs:complexType name="listviewLayout">
		<xs:sequence>
		 <xs:element name="FeedColumnLayout" type="f:FeedColumnLayout" />
		</xs:sequence>
		<xs:attribute name="ID" type="xs:string" />
		<xs:anyAttribute namespace="##any" processContents="lax" />
	</xs:complexType>
 <xs:complexType name="FeedColumnLayout">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="LayoutType" type="f:LayoutType" />
      <xs:element minOccurs="0" maxOccurs="1" name="SortByColumn" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="SortOrder" type="f:SortOrder" />
      <xs:element minOccurs="0" maxOccurs="1" name="ArrangeByColumn" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ColumnList" type="f:ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="ColumnWidthList" type="f:ArrayOfInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LayoutType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GlobalFeedLayout" />
      <xs:enumeration value="GlobalCategoryLayout" />
      <xs:enumeration value="SearchFolderLayout" />
      <xs:enumeration value="SpecialFeedsLayout" />
      <xs:enumeration value="IndividualLayout" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SortOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Ascending" />
      <xs:enumeration value="Descending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfInt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
<!-- End feed list schema -->