RssBandit/Web References/com.newsgator.services1/Folder.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://services.newsgator.com/svc/Folder.asmx" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://services.newsgator.com/svc/Folder.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.newsgator.com/svc/Folder.asmx">
      <s:element name="GetOrCreateFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parentId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="root" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrCreateFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetOrCreateFolderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NGAPIToken" type="tns:NGAPIToken" />
      <s:complexType name="NGAPIToken">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="parentId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="root" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateFolderResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFolderResponse">
        <s:complexType />
      </s:element>
      <s:element name="MoveFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="newParentId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MoveFolderResponse">
        <s:complexType />
      </s:element>
      <s:element name="RenameFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameFolderResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFolders">
        <s:complexType />
      </s:element>
      <s:element name="GetFoldersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFoldersResult">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="int" type="s:int" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOrCreateFolderSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrCreateFolder" />
  </wsdl:message>
  <wsdl:message name="GetOrCreateFolderSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrCreateFolderResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrCreateFolderNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="CreateFolderSoapIn">
    <wsdl:part name="parameters" element="tns:CreateFolder" />
  </wsdl:message>
  <wsdl:message name="CreateFolderSoapOut">
    <wsdl:part name="parameters" element="tns:CreateFolderResponse" />
  </wsdl:message>
  <wsdl:message name="CreateFolderNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="DeleteFolderSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFolder" />
  </wsdl:message>
  <wsdl:message name="DeleteFolderSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFolderResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFolderNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="MoveFolderSoapIn">
    <wsdl:part name="parameters" element="tns:MoveFolder" />
  </wsdl:message>
  <wsdl:message name="MoveFolderSoapOut">
    <wsdl:part name="parameters" element="tns:MoveFolderResponse" />
  </wsdl:message>
  <wsdl:message name="MoveFolderNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="RenameFolderSoapIn">
    <wsdl:part name="parameters" element="tns:RenameFolder" />
  </wsdl:message>
  <wsdl:message name="RenameFolderSoapOut">
    <wsdl:part name="parameters" element="tns:RenameFolderResponse" />
  </wsdl:message>
  <wsdl:message name="RenameFolderNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="GetFoldersSoapIn">
    <wsdl:part name="parameters" element="tns:GetFolders" />
  </wsdl:message>
  <wsdl:message name="GetFoldersSoapOut">
    <wsdl:part name="parameters" element="tns:GetFoldersResponse" />
  </wsdl:message>
  <wsdl:message name="GetFoldersNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="GetOrCreateFolderHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="parentId" type="s:string" />
    <wsdl:part name="root" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOrCreateFolderHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="CreateFolderHttpPostIn">
    <wsdl:part name="name" type="s:string" />
    <wsdl:part name="parentId" type="s:string" />
    <wsdl:part name="root" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateFolderHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="DeleteFolderHttpPostIn">
    <wsdl:part name="id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeleteFolderHttpPostOut" />
  <wsdl:message name="MoveFolderHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="newParentId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MoveFolderHttpPostOut" />
  <wsdl:message name="RenameFolderHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="newName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RenameFolderHttpPostOut" />
  <wsdl:message name="GetFoldersHttpPostIn" />
  <wsdl:message name="GetFoldersHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="FolderWebServiceSoap">
    <wsdl:operation name="GetOrCreateFolder">
      <wsdl:input message="tns:GetOrCreateFolderSoapIn" />
      <wsdl:output message="tns:GetOrCreateFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateFolder">
      <wsdl:input message="tns:CreateFolderSoapIn" />
      <wsdl:output message="tns:CreateFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <wsdl:input message="tns:DeleteFolderSoapIn" />
      <wsdl:output message="tns:DeleteFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveFolder">
      <wsdl:input message="tns:MoveFolderSoapIn" />
      <wsdl:output message="tns:MoveFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameFolder">
      <wsdl:input message="tns:RenameFolderSoapIn" />
      <wsdl:output message="tns:RenameFolderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <wsdl:input message="tns:GetFoldersSoapIn" />
      <wsdl:output message="tns:GetFoldersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FolderWebServiceHttpPost">
    <wsdl:operation name="GetOrCreateFolder">
      <wsdl:input message="tns:GetOrCreateFolderHttpPostIn" />
      <wsdl:output message="tns:GetOrCreateFolderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateFolder">
      <wsdl:input message="tns:CreateFolderHttpPostIn" />
      <wsdl:output message="tns:CreateFolderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <wsdl:input message="tns:DeleteFolderHttpPostIn" />
      <wsdl:output message="tns:DeleteFolderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MoveFolder">
      <wsdl:input message="tns:MoveFolderHttpPostIn" />
      <wsdl:output message="tns:MoveFolderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameFolder">
      <wsdl:input message="tns:RenameFolderHttpPostIn" />
      <wsdl:output message="tns:RenameFolderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <wsdl:input message="tns:GetFoldersHttpPostIn" />
      <wsdl:output message="tns:GetFoldersHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FolderWebServiceSoap" type="tns:FolderWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="GetOrCreateFolder">
      <soap:operation soapAction="http://services.newsgator.com/svc/Folder.asmx/GetOrCreateFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetOrCreateFolderNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFolder">
      <soap:operation soapAction="http://services.newsgator.com/svc/Folder.asmx/CreateFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:CreateFolderNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <soap:operation soapAction="http://services.newsgator.com/svc/Folder.asmx/DeleteFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteFolderNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MoveFolder">
      <soap:operation soapAction="http://services.newsgator.com/svc/Folder.asmx/MoveFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:MoveFolderNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameFolder">
      <soap:operation soapAction="http://services.newsgator.com/svc/Folder.asmx/RenameFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RenameFolderNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <soap:operation soapAction="http://services.newsgator.com/svc/Folder.asmx/GetFolders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetFoldersNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FolderWebServiceHttpPost" type="tns:FolderWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetOrCreateFolder">
      <http:operation location="/GetOrCreateFolder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateFolder">
      <http:operation location="/CreateFolder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFolder">
      <http:operation location="/DeleteFolder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="MoveFolder">
      <http:operation location="/MoveFolder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="RenameFolder">
      <http:operation location="/RenameFolder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetFolders">
      <http:operation location="/GetFolders" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FolderWebService">
    <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">NewsGator Online - operations on Folder resources</documentation>
    <wsdl:port name="FolderWebServiceSoap" binding="tns:FolderWebServiceSoap">
      <soap:address location="http://services.newsgator.com/ngws/svc/Folder.asmx" />
    </wsdl:port>
    <wsdl:port name="FolderWebServiceHttpPost" binding="tns:FolderWebServiceHttpPost">
      <http:address location="http://services.newsgator.com/ngws/svc/Folder.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>