trunk/source/RssBandit/Web References/DasBlog/ConfigEditingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="urn:newtelligence-com:dasblog:config" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="urn:schemas-newtelligence-com:dasblog:config-services" xmlns:s2="urn:schemas-newtelligence-com:dasblog:config-services:auth-temp" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="urn:schemas-newtelligence-com:dasblog:config-services" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:schemas-newtelligence-com:dasblog:config-services">
      <s:import namespace="urn:newtelligence-com:dasblog:config" />
      <s:element name="siteConfig" type="s1:SiteConfig" />
      <s:element name="EnumBlogrollsResult" type="s0:ArrayOfString" />
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="blogRollName" type="s:string" />
      <s:element name="GetBlogrollResult">
        <s:complexType>
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="blogRoll">
        <s:complexType>
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfString" nillable="true" type="s0:ArrayOfString" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:newtelligence-com:dasblog:config">
      <s:complexType name="SiteConfig">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Subtitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Theme" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contact" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Root" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Copyright" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RssDayCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RssMainEntryCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RssEntryCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableRssItemFooters" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="RssItemFooter" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FrontPageDayCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FrontPageEntryCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryAllEntries" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="FrontPageCategory" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AlwaysIncludeContentInRSS" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EntryTitleAsLink" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NotifyWebLogsDotCom" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NotifyBloGs" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ObfuscateEmail" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="NotificationEMailAddress" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SendCommentsByEmail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SendReferralsByEmail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SendTrackbacksByEmail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SendPingbacksByEmail" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableBloggerApi" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableComments" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableCommentApi" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableConfigEditService" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableEditService" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableAutoPingback" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ShowCommentCount" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableTrackbackService" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnablePingbackService" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableStartPageCaching" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableBlogrollDescription" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableUrlRewriting" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableFtb" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableCrossposts" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UseUserCulture" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ShowItemDescriptionInAggregatedViews" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableClickThrough" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableAggregatorBugging" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DisplayTimeZoneIndex" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AdjustDisplayTimeZone" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="EditPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentDir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LogDir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BinariesDir" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SmtpServer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EnablePop3" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Pop3Server" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pop3Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pop3Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pop3SubjectPrefix" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Pop3Interval" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Pop3InlineAttachedPictures" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Pop3InlinedAttachedPicturesThumbHeight" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyContentFiltersToWeb" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ApplyContentFiltersToRSS" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableXSSUpstream" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="XSSUpstreamEndpoint" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSSUpstreamUsername" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSSUpstreamPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XSSRSSFilename" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="XSSUpstreamInterval" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ContentFilters" type="s1:ArrayOfContentFilter" />
          <s:element minOccurs="0" maxOccurs="1" name="CrosspostSites" type="s1:ArrayOfCrosspostSite" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="ArrayOfContentFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContentFilter" nillable="true" type="s1:ContentFilter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContentFilter">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="find" type="s:string" />
        <s:attribute name="replace" type="s:string" />
        <s:attribute name="isregex" type="s:boolean" use="required" />
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="ArrayOfCrosspostSite">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CrosspostSite" nillable="true" type="s1:CrosspostSite" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CrosspostSite">
        <s:sequence>
          <s:any minOccurs="0" maxOccurs="unbounded" />
        </s:sequence>
        <s:attribute name="profileName" type="s:string" />
        <s:attribute name="hostName" type="s:string" />
        <s:attribute name="port" type="s:int" use="required" />
        <s:attribute name="endpoint" type="s:string" />
        <s:attribute name="username" type="s:string" />
        <s:attribute name="password" type="s:string" />
        <s:attribute name="blogid" type="s:string" />
        <s:attribute name="blogname" type="s:string" />
        <s:attribute name="apitype" type="s:string" />
        <s:anyAttribute />
      </s:complexType>
      <s:element name="siteConfig" nillable="true" type="s1:SiteConfig" />
      <s:element name="SiteConfig" nillable="true" type="s1:SiteConfig" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:schemas-newtelligence-com:dasblog:config-services:auth-temp">
      <s:element name="authenticationHeader" type="s2:authenticationHeader" />
      <s:complexType name="authenticationHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </types>
  <message name="GetSiteConfigSoapIn" />
  <message name="GetSiteConfigSoapOut">
    <part name="GetSiteConfigResult" element="s0:siteConfig" />
  </message>
  <message name="GetSiteConfigauthenticationHeader">
    <part name="authenticationHeader" element="s2:authenticationHeader" />
  </message>
  <message name="UpdateSiteConfigSoapIn">
    <part name="siteConfig" element="s1:siteConfig" />
  </message>
  <message name="UpdateSiteConfigSoapOut" />
  <message name="UpdateSiteConfigauthenticationHeader">
    <part name="authenticationHeader" element="s2:authenticationHeader" />
  </message>
  <message name="EnumBlogrollsSoapIn" />
  <message name="EnumBlogrollsSoapOut">
    <part name="EnumBlogrollsResult" element="s0:EnumBlogrollsResult" />
  </message>
  <message name="EnumBlogrollsauthenticationHeader">
    <part name="authenticationHeader" element="s2:authenticationHeader" />
  </message>
  <message name="GetBlogrollSoapIn">
    <part name="blogRollName" element="s0:blogRollName" />
  </message>
  <message name="GetBlogrollSoapOut">
    <part name="GetBlogrollResult" element="s0:GetBlogrollResult" />
  </message>
  <message name="GetBlogrollauthenticationHeader">
    <part name="authenticationHeader" element="s2:authenticationHeader" />
  </message>
  <message name="PostBlogrollSoapIn">
    <part name="blogRollName" element="s0:blogRollName" />
    <part name="blogRoll" element="s0:blogRoll" />
  </message>
  <message name="PostBlogrollSoapOut" />
  <message name="PostBlogrollauthenticationHeader">
    <part name="authenticationHeader" element="s2:authenticationHeader" />
  </message>
  <message name="GetSiteConfigHttpGetIn" />
  <message name="GetSiteConfigHttpGetOut">
    <part name="Body" element="s1:SiteConfig" />
  </message>
  <message name="EnumBlogrollsHttpGetIn" />
  <message name="EnumBlogrollsHttpGetOut">
    <part name="Body" element="s0:ArrayOfString" />
  </message>
  <message name="GetBlogrollHttpGetIn">
    <part name="blogRollName" type="s:string" />
  </message>
  <message name="GetBlogrollHttpGetOut">
    <part name="Body" />
  </message>
  <portType name="ConfigEditingServiceSoap">
    <operation name="GetSiteConfig">
      <input message="s0:GetSiteConfigSoapIn" />
      <output message="s0:GetSiteConfigSoapOut" />
    </operation>
    <operation name="UpdateSiteConfig">
      <input message="s0:UpdateSiteConfigSoapIn" />
      <output message="s0:UpdateSiteConfigSoapOut" />
    </operation>
    <operation name="EnumBlogrolls">
      <input message="s0:EnumBlogrollsSoapIn" />
      <output message="s0:EnumBlogrollsSoapOut" />
    </operation>
    <operation name="GetBlogroll">
      <input message="s0:GetBlogrollSoapIn" />
      <output message="s0:GetBlogrollSoapOut" />
    </operation>
    <operation name="PostBlogroll">
      <input message="s0:PostBlogrollSoapIn" />
      <output message="s0:PostBlogrollSoapOut" />
    </operation>
  </portType>
  <portType name="ConfigEditingServiceHttpGet">
    <operation name="GetSiteConfig">
      <input message="s0:GetSiteConfigHttpGetIn" />
      <output message="s0:GetSiteConfigHttpGetOut" />
    </operation>
    <operation name="EnumBlogrolls">
      <input message="s0:EnumBlogrollsHttpGetIn" />
      <output message="s0:EnumBlogrollsHttpGetOut" />
    </operation>
    <operation name="GetBlogroll">
      <input message="s0:GetBlogrollHttpGetIn" />
      <output message="s0:GetBlogrollHttpGetOut" />
    </operation>
  </portType>
  <binding name="ConfigEditingServiceSoap" type="s0:ConfigEditingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetSiteConfig">
      <soap:operation soapAction="urn:schemas-newtelligence-com:dasblog:config-services/GetSiteConfig" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:GetSiteConfigauthenticationHeader" part="authenticationHeader" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateSiteConfig">
      <soap:operation soapAction="urn:schemas-newtelligence-com:dasblog:config-services/UpdateSiteConfig" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:UpdateSiteConfigauthenticationHeader" part="authenticationHeader" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="EnumBlogrolls">
      <soap:operation soapAction="urn:schemas-newtelligence-com:dasblog:config-services/EnumBlogrolls" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:EnumBlogrollsauthenticationHeader" part="authenticationHeader" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetBlogroll">
      <soap:operation soapAction="urn:schemas-newtelligence-com:dasblog:config-services/GetBlogroll" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:GetBlogrollauthenticationHeader" part="authenticationHeader" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="PostBlogroll">
      <soap:operation soapAction="urn:schemas-newtelligence-com:dasblog:config-services/PostBlogroll" style="document" />
      <input>
        <soap:body use="literal" />
        <soap:header message="s0:PostBlogrollauthenticationHeader" part="authenticationHeader" use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="ConfigEditingServiceHttpGet" type="s0:ConfigEditingServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="GetSiteConfig">
      <http:operation location="/GetSiteConfig" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="EnumBlogrolls">
      <http:operation location="/EnumBlogrolls" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetBlogroll">
      <http:operation location="/GetBlogroll" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:content part="Body" type="text/xml" />
      </output>
    </operation>
  </binding>
  <service name="ConfigEditingService">
    <port name="ConfigEditingServiceSoap" binding="s0:ConfigEditingServiceSoap">
      <soap:address location="http://localhost/dasBlog/ConfigEditingService.asmx" />
    </port>
    <port name="ConfigEditingServiceHttpGet" binding="s0:ConfigEditingServiceHttpGet">
      <http:address location="http://localhost/dasBlog/ConfigEditingService.asmx" />
    </port>
  </service>
</definitions>