trunk/source/v1.6.0.1/RssBandit/Web References/CLR20.com.newsgator.services4/PostItem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s3="http://newsgator.com/schema/extensions" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://services.newsgator.com/ngws/svc/PostItem.asmx" xmlns:s1="http://services.newsgator.com/ngws/Impersonate" xmlns:s4="http://wellformedweb.org/CommentAPI/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s5="http://services.newsgator.com/ngws/svc/PostItem.asmx/AbstractTypes" targetNamespace="http://services.newsgator.com/ngws/svc/PostItem.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">NewsGator Online - operations on Post resources</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.newsgator.com/ngws/svc/PostItem.asmx">
      <s:import />
      <s:element name="SetState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="locationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deletedPosts" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="readPosts" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="unreadPosts" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetStateResult" type="tns:ArrayOfPostState" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPostState">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PostState" nillable="true" type="tns:PostState" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PostState">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PostID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FeedID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlagState" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserActions" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NGAPIToken" type="tns:NGAPIToken" />
      <s:complexType name="NGAPIToken">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EnableCompression" type="s:boolean" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="UpdatePostMetadata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="locationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="syncToken" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="unreadOnly" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="newStates" type="tns:ArrayOfFeedMetadata" />
            <s:element minOccurs="1" maxOccurs="1" name="updateRelevanceScores" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFeedMetadata">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FeedMetadata" nillable="true" type="tns:FeedMetadata" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FeedMetadata">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FeedID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserActions" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostMetadata" type="tns:ArrayOfPostMetadata" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPostMetadata">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PostMetadata" nillable="true" type="tns:PostMetadata" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PostMetadata">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PostID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FlagState" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserActions" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdatePostMetadataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePostMetadataResult" type="tns:ArrayOfFeedMetadata" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePostMetadatav2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="locationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="syncToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newStates" type="tns:ArrayOfFeedMetadata" />
            <s:element minOccurs="1" maxOccurs="1" name="updateRelevanceScores" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePostMetadatav2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePostMetadatav2Result" type="tns:ArrayOfFeedMetadata" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RatePost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rating" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RatePostResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetLinkCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinkCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLinkCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLinksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinksResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClipPosts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clipList" type="tns:ArrayOfClippedPost" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClippedPost">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClippedPost" nillable="true" type="tns:ClippedPost" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClippedPost">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PostId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FolderId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Deleted" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LastModified" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClipPostsResponse">
        <s:complexType />
      </s:element>
      <s:element name="ClipItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clipList" type="tns:ArrayOfClippedItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClippedItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClippedItem" nillable="true" type="tns:ClippedItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClippedItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PostId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FolderId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ClipItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClipItemsResult" type="tns:ArrayOfClippedItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnClipPosts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postIds" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnClipPostsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postIds" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="GetItemsResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHighlyViewedPosts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maxPosts" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="includeDescription" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHighlyViewedPostsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHighlyViewedPostsResult">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="postId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="protocol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPostResponse">
        <s:complexType />
      </s:element>
      <s:element name="ArrayOfPostState" nillable="true" type="tns:ArrayOfPostState" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.newsgator.com/ngws/Impersonate">
      <s:element name="NGImpersonate" type="s1:NGImpersonate" />
      <s:complexType name="NGImpersonate">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ImpersonateUser" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified">
      <s:import namespace="http://newsgator.com/schema/extensions" />
      <s:import namespace="http://wellformedweb.org/CommentAPI/" />
      <s:element name="GetItemsResult" type="rss" />
      <s:complexType name="rss">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="channel" type="rssChannel" />
        </s:sequence>
        <s:attribute name="version" type="s:string" />
        <s:attribute ref="s3:token" />
      </s:complexType>
      <s:complexType name="rssChannel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="copyright" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="webMaster" />
          <s:element minOccurs="0" maxOccurs="1" name="lastBuildDate" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:token" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:id" />
          <s:element minOccurs="0" maxOccurs="1" name="ttl" type="s:nonNegativeInteger" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="item" type="rssChannelItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="rssChannelItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="title" />
          <s:element minOccurs="0" maxOccurs="1" name="link" />
          <s:element minOccurs="0" maxOccurs="1" name="description" />
          <s:element minOccurs="0" maxOccurs="1" name="pubDate" />
          <s:element minOccurs="0" maxOccurs="1" name="guid" type="rssChannelItemGuid" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:postId" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:read" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:deleted" />
          <s:element minOccurs="0" maxOccurs="1" ref="s4:commentRss" />
          <s:element minOccurs="0" maxOccurs="1" ref="s4:comment" />
          <s:element minOccurs="0" maxOccurs="1" name="comments" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="enclosure" type="rssChannelItemEnclosure" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:userRating" />
          <s:element minOccurs="1" maxOccurs="1" ref="s3:avgRating" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:folderId" />
          <s:element minOccurs="0" maxOccurs="1" ref="s3:feedId" />
          <s:element minOccurs="0" maxOccurs="1" name="extensionData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="source" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="rssChannelItemGuid">
        <s:simpleContent>
          <s:extension base="s:string">
            <s:attribute default="true" name="isPermaLink" type="s:boolean" />
          </s:extension>
        </s:simpleContent>
      </s:complexType>
      <s:complexType name="rssChannelItemEnclosure">
        <s:attribute name="url" type="s:string" />
        <s:attribute name="type" type="s:string" />
      </s:complexType>
      <s:element name="rss" type="rss" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://newsgator.com/schema/extensions">
      <s:element name="token" type="s:string" />
      <s:element name="id" type="s:string" />
      <s:element name="postId" type="s:string" />
      <s:element default="false" name="read" type="s:boolean" />
      <s:element default="false" name="deleted" type="s:boolean" />
      <s:element name="userRating" type="s:integer" />
      <s:element name="avgRating" type="s:decimal" />
      <s:element name="folderId" type="s:integer" />
      <s:element name="feedId" type="s:integer" />
      <s:attribute name="token" type="s:string" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://wellformedweb.org/CommentAPI/">
      <s:element name="commentRss" type="s:string" />
      <s:element name="comment" type="s:string" />
    </s:schema>
    <s:schema targetNamespace="http://services.newsgator.com/ngws/svc/PostItem.asmx/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetStateSoapIn">
    <wsdl:part name="parameters" element="tns:SetState" />
  </wsdl:message>
  <wsdl:message name="SetStateSoapOut">
    <wsdl:part name="parameters" element="tns:SetStateResponse" />
  </wsdl:message>
  <wsdl:message name="SetStateNGImpersonate">
    <wsdl:part name="NGImpersonate" element="s1:NGImpersonate" />
  </wsdl:message>
  <wsdl:message name="SetStateNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="UpdatePostMetadataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePostMetadata" />
  </wsdl:message>
  <wsdl:message name="UpdatePostMetadataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePostMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePostMetadataNGImpersonate">
    <wsdl:part name="NGImpersonate" element="s1:NGImpersonate" />
  </wsdl:message>
  <wsdl:message name="UpdatePostMetadataNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="UpdatePostMetadatav2SoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePostMetadatav2" />
  </wsdl:message>
  <wsdl:message name="UpdatePostMetadatav2SoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePostMetadatav2Response" />
  </wsdl:message>
  <wsdl:message name="UpdatePostMetadatav2NGImpersonate">
    <wsdl:part name="NGImpersonate" element="s1:NGImpersonate" />
  </wsdl:message>
  <wsdl:message name="UpdatePostMetadatav2NGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="RatePostSoapIn">
    <wsdl:part name="parameters" element="tns:RatePost" />
  </wsdl:message>
  <wsdl:message name="RatePostSoapOut">
    <wsdl:part name="parameters" element="tns:RatePostResponse" />
  </wsdl:message>
  <wsdl:message name="RatePostNGImpersonate">
    <wsdl:part name="NGImpersonate" element="s1:NGImpersonate" />
  </wsdl:message>
  <wsdl:message name="RatePostNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="GetLinkCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinkCount" />
  </wsdl:message>
  <wsdl:message name="GetLinkCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinkCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinkCountNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="GetLinksSoapIn">
    <wsdl:part name="parameters" element="tns:GetLinks" />
  </wsdl:message>
  <wsdl:message name="GetLinksSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinksResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinksNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="GetPostIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostId" />
  </wsdl:message>
  <wsdl:message name="GetPostIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetPostIdNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="ClipPostsSoapIn">
    <wsdl:part name="parameters" element="tns:ClipPosts" />
  </wsdl:message>
  <wsdl:message name="ClipPostsSoapOut">
    <wsdl:part name="parameters" element="tns:ClipPostsResponse" />
  </wsdl:message>
  <wsdl:message name="ClipPostsNGImpersonate">
    <wsdl:part name="NGImpersonate" element="s1:NGImpersonate" />
  </wsdl:message>
  <wsdl:message name="ClipPostsNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="ClipItemsSoapIn">
    <wsdl:part name="parameters" element="tns:ClipItems" />
  </wsdl:message>
  <wsdl:message name="ClipItemsSoapOut">
    <wsdl:part name="parameters" element="tns:ClipItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ClipItemsNGImpersonate">
    <wsdl:part name="NGImpersonate" element="s1:NGImpersonate" />
  </wsdl:message>
  <wsdl:message name="ClipItemsNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="UnClipPostsSoapIn">
    <wsdl:part name="parameters" element="tns:UnClipPosts" />
  </wsdl:message>
  <wsdl:message name="UnClipPostsSoapOut">
    <wsdl:part name="parameters" element="tns:UnClipPostsResponse" />
  </wsdl:message>
  <wsdl:message name="UnClipPostsNGImpersonate">
    <wsdl:part name="NGImpersonate" element="s1:NGImpersonate" />
  </wsdl:message>
  <wsdl:message name="UnClipPostsNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="GetItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="GetItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemsNGImpersonate">
    <wsdl:part name="NGImpersonate" element="s1:NGImpersonate" />
  </wsdl:message>
  <wsdl:message name="GetItemsNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="GetHighlyViewedPostsSoapIn">
    <wsdl:part name="parameters" element="tns:GetHighlyViewedPosts" />
  </wsdl:message>
  <wsdl:message name="GetHighlyViewedPostsSoapOut">
    <wsdl:part name="parameters" element="tns:GetHighlyViewedPostsResponse" />
  </wsdl:message>
  <wsdl:message name="GetHighlyViewedPostsNGImpersonate">
    <wsdl:part name="NGImpersonate" element="s1:NGImpersonate" />
  </wsdl:message>
  <wsdl:message name="GetHighlyViewedPostsNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="SendPostSoapIn">
    <wsdl:part name="parameters" element="tns:SendPost" />
  </wsdl:message>
  <wsdl:message name="SendPostSoapOut">
    <wsdl:part name="parameters" element="tns:SendPostResponse" />
  </wsdl:message>
  <wsdl:message name="SendPostNGImpersonate">
    <wsdl:part name="NGImpersonate" element="s1:NGImpersonate" />
  </wsdl:message>
  <wsdl:message name="SendPostNGAPIToken">
    <wsdl:part name="NGAPIToken" element="tns:NGAPIToken" />
  </wsdl:message>
  <wsdl:message name="SetStateHttpPostIn">
    <wsdl:part name="locationName" type="s:string" />
    <wsdl:part name="deletedPosts" type="s5:StringArray" />
    <wsdl:part name="readPosts" type="s5:StringArray" />
    <wsdl:part name="unreadPosts" type="s5:StringArray" />
  </wsdl:message>
  <wsdl:message name="SetStateHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfPostState" />
  </wsdl:message>
  <wsdl:message name="RatePostHttpPostIn">
    <wsdl:part name="url" type="s:string" />
    <wsdl:part name="rating" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RatePostHttpPostOut" />
  <wsdl:message name="GetLinkCountHttpPostIn">
    <wsdl:part name="postId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLinkCountHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetLinksHttpPostIn">
    <wsdl:part name="postId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetLinksHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetPostIdHttpPostIn">
    <wsdl:part name="url" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPostIdHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UnClipPostsHttpPostIn">
    <wsdl:part name="postIds" type="s5:StringArray" />
  </wsdl:message>
  <wsdl:message name="UnClipPostsHttpPostOut" />
  <wsdl:message name="GetItemsHttpPostIn">
    <wsdl:part name="postIds" type="s5:StringArray" />
  </wsdl:message>
  <wsdl:message name="GetItemsHttpPostOut">
    <wsdl:part name="Body" element="rss" />
  </wsdl:message>
  <wsdl:message name="GetHighlyViewedPostsHttpPostIn">
    <wsdl:part name="maxPosts" type="s:string" />
    <wsdl:part name="fromDate" type="s:string" />
    <wsdl:part name="toDate" type="s:string" />
    <wsdl:part name="includeDescription" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHighlyViewedPostsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SendPostHttpPostIn">
    <wsdl:part name="postId" type="s:string" />
    <wsdl:part name="subject" type="s:string" />
    <wsdl:part name="comments" type="s:string" />
    <wsdl:part name="address" type="s:string" />
    <wsdl:part name="protocol" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendPostHttpPostOut" />
  <wsdl:portType name="PostItemSoap">
    <wsdl:operation name="SetState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obsolete, Use UpdatePostMetadata instead</wsdl:documentation>
      <wsdl:input message="tns:SetStateSoapIn" />
      <wsdl:output message="tns:SetStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePostMetadata">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update the given items with new state, returning state changes since last sync</wsdl:documentation>
      <wsdl:input message="tns:UpdatePostMetadataSoapIn" />
      <wsdl:output message="tns:UpdatePostMetadataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePostMetadatav2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update the given items with new state, returning state changes since last sync</wsdl:documentation>
      <wsdl:input message="tns:UpdatePostMetadatav2SoapIn" />
      <wsdl:output message="tns:UpdatePostMetadatav2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RatePost">
      <wsdl:input message="tns:RatePostSoapIn" />
      <wsdl:output message="tns:RatePostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLinkCount">
      <wsdl:input message="tns:GetLinkCountSoapIn" />
      <wsdl:output message="tns:GetLinkCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLinks">
      <wsdl:input message="tns:GetLinksSoapIn" />
      <wsdl:output message="tns:GetLinksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostId">
      <wsdl:input message="tns:GetPostIdSoapIn" />
      <wsdl:output message="tns:GetPostIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClipPosts">
      <wsdl:input message="tns:ClipPostsSoapIn" />
      <wsdl:output message="tns:ClipPostsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClipItems">
      <wsdl:input message="tns:ClipItemsSoapIn" />
      <wsdl:output message="tns:ClipItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnClipPosts">
      <wsdl:input message="tns:UnClipPostsSoapIn" />
      <wsdl:output message="tns:UnClipPostsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input message="tns:GetItemsSoapIn" />
      <wsdl:output message="tns:GetItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHighlyViewedPosts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the highest viewed posts from NewsGator.</wsdl:documentation>
      <wsdl:input message="tns:GetHighlyViewedPostsSoapIn" />
      <wsdl:output message="tns:GetHighlyViewedPostsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPost">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send the post via the stated protocol.</wsdl:documentation>
      <wsdl:input message="tns:SendPostSoapIn" />
      <wsdl:output message="tns:SendPostSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="PostItemHttpPost">
    <wsdl:operation name="SetState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obsolete, Use UpdatePostMetadata instead</wsdl:documentation>
      <wsdl:input message="tns:SetStateHttpPostIn" />
      <wsdl:output message="tns:SetStateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RatePost">
      <wsdl:input message="tns:RatePostHttpPostIn" />
      <wsdl:output message="tns:RatePostHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLinkCount">
      <wsdl:input message="tns:GetLinkCountHttpPostIn" />
      <wsdl:output message="tns:GetLinkCountHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLinks">
      <wsdl:input message="tns:GetLinksHttpPostIn" />
      <wsdl:output message="tns:GetLinksHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPostId">
      <wsdl:input message="tns:GetPostIdHttpPostIn" />
      <wsdl:output message="tns:GetPostIdHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UnClipPosts">
      <wsdl:input message="tns:UnClipPostsHttpPostIn" />
      <wsdl:output message="tns:UnClipPostsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input message="tns:GetItemsHttpPostIn" />
      <wsdl:output message="tns:GetItemsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHighlyViewedPosts">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the highest viewed posts from NewsGator.</wsdl:documentation>
      <wsdl:input message="tns:GetHighlyViewedPostsHttpPostIn" />
      <wsdl:output message="tns:GetHighlyViewedPostsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendPost">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send the post via the stated protocol.</wsdl:documentation>
      <wsdl:input message="tns:SendPostHttpPostIn" />
      <wsdl:output message="tns:SendPostHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostItemSoap" type="tns:PostItemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetState">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/SetState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetStateNGImpersonate" part="NGImpersonate" use="literal" />
        <soap:header message="tns:SetStateNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePostMetadata">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/UpdatePostMetadata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdatePostMetadataNGImpersonate" part="NGImpersonate" use="literal" />
        <soap:header message="tns:UpdatePostMetadataNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePostMetadatav2">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/UpdatePostMetadatav2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdatePostMetadatav2NGImpersonate" part="NGImpersonate" use="literal" />
        <soap:header message="tns:UpdatePostMetadatav2NGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RatePost">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/RatePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RatePostNGImpersonate" part="NGImpersonate" use="literal" />
        <soap:header message="tns:RatePostNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkCount">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/GetLinkCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLinkCountNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinks">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/GetLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLinksNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostId">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/GetPostId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetPostIdNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClipPosts">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/ClipPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ClipPostsNGImpersonate" part="NGImpersonate" use="literal" />
        <soap:header message="tns:ClipPostsNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClipItems">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/ClipItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ClipItemsNGImpersonate" part="NGImpersonate" use="literal" />
        <soap:header message="tns:ClipItemsNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnClipPosts">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/UnClipPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UnClipPostsNGImpersonate" part="NGImpersonate" use="literal" />
        <soap:header message="tns:UnClipPostsNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetItemsNGImpersonate" part="NGImpersonate" use="literal" />
        <soap:header message="tns:GetItemsNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHighlyViewedPosts">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/GetHighlyViewedPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHighlyViewedPostsNGImpersonate" part="NGImpersonate" use="literal" />
        <soap:header message="tns:GetHighlyViewedPostsNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPost">
      <soap:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/SendPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendPostNGImpersonate" part="NGImpersonate" use="literal" />
        <soap:header message="tns:SendPostNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostItemSoap12" type="tns:PostItemSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetState">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/SetState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetStateNGImpersonate" part="NGImpersonate" use="literal" />
        <soap12:header message="tns:SetStateNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePostMetadata">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/UpdatePostMetadata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdatePostMetadataNGImpersonate" part="NGImpersonate" use="literal" />
        <soap12:header message="tns:UpdatePostMetadataNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePostMetadatav2">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/UpdatePostMetadatav2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdatePostMetadatav2NGImpersonate" part="NGImpersonate" use="literal" />
        <soap12:header message="tns:UpdatePostMetadatav2NGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RatePost">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/RatePost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RatePostNGImpersonate" part="NGImpersonate" use="literal" />
        <soap12:header message="tns:RatePostNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinkCount">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/GetLinkCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLinkCountNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinks">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/GetLinks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLinksNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostId">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/GetPostId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetPostIdNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClipPosts">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/ClipPosts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ClipPostsNGImpersonate" part="NGImpersonate" use="literal" />
        <soap12:header message="tns:ClipPostsNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClipItems">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/ClipItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ClipItemsNGImpersonate" part="NGImpersonate" use="literal" />
        <soap12:header message="tns:ClipItemsNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnClipPosts">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/UnClipPosts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UnClipPostsNGImpersonate" part="NGImpersonate" use="literal" />
        <soap12:header message="tns:UnClipPostsNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/GetItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetItemsNGImpersonate" part="NGImpersonate" use="literal" />
        <soap12:header message="tns:GetItemsNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHighlyViewedPosts">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/GetHighlyViewedPosts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHighlyViewedPostsNGImpersonate" part="NGImpersonate" use="literal" />
        <soap12:header message="tns:GetHighlyViewedPostsNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPost">
      <soap12:operation soapAction="http://services.newsgator.com/ngws/svc/PostItem.asmx/SendPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendPostNGImpersonate" part="NGImpersonate" use="literal" />
        <soap12:header message="tns:SendPostNGAPIToken" part="NGAPIToken" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostItemHttpPost" type="tns:PostItemHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SetState">
      <http:operation location="/SetState" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RatePost">
      <http:operation location="/RatePost" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetLinkCount">
      <http:operation location="/GetLinkCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLinks">
      <http:operation location="/GetLinks" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPostId">
      <http:operation location="/GetPostId" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnClipPosts">
      <http:operation location="/UnClipPosts" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <http:operation location="/GetItems" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHighlyViewedPosts">
      <http:operation location="/GetHighlyViewedPosts" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPost">
      <http:operation location="/SendPost" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostItem">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">NewsGator Online - operations on Post resources</wsdl:documentation>
    <wsdl:port name="PostItemSoap" binding="tns:PostItemSoap">
      <soap:address location="http://services.newsgator.com/ngws/svc/PostItem.asmx" />
    </wsdl:port>
    <wsdl:port name="PostItemSoap12" binding="tns:PostItemSoap12">
      <soap12:address location="http://services.newsgator.com/ngws/svc/PostItem.asmx" />
    </wsdl:port>
    <wsdl:port name="PostItemHttpPost" binding="tns:PostItemHttpPost">
      <http:address location="http://services.newsgator.com/ngws/svc/PostItem.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>